/* ### CUSTOM VARIABLES ### */

:root {
  /* primary */
  --primary-dark-cyan: hsl(185, 75%, 39%);
  --primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --primary-dark-grayish-blue: hsl(227, 10%, 46%);

  /* neutral */
  --neutral-dark-gray: hsl(0, 0%, 59%);

  /* typography */
  --ff-kumbh-sans: "Kumbh Sans", sans-serif;
  --fs-name-and-sats: 1rem;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* ### UTILITIES ### */

.text-black {
  color: var(--primary-very-dark-desaturated-blue);
}

/* ### GENERAL STYLING ### */

body {
  min-height: 100vh;
  background-color: var(--primary-dark-cyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: top calc(0px - 630px) left calc(0px - 745px),
    bottom calc(0px - 606px) right calc(0px - 733px);
  background-repeat: no-repeat, no-repeat;
}
